* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }

  img{
    margin-top: 25px;
    width: 500px;
    height: 500px;
    padding: 3px;
  }